#about-container {
    margin-top: 1rem;
}

#about-container > p {
    line-height: 1.75rem;
}

#about-container > p:not(:first-child) {
    margin-top: 0.75rem;
}

#about-container a {
    color: #000000;
    text-decoration: underline;
}

#about-container a:hover {
    color: #6b7280;
}