.project-link {
    text-decoration: none;
    color: initial;
}

.project-name {
    font-size: 24px;
}

.project-description {
    font-size: 18px;
    margin-bottom: 0;
}

.project-name-margin {
    margin-top: 0;
}

@media (max-width: 576px) {
    .project-name-margin {
        margin-top: 8px;
    }
}